/*
*  This file is meant to contain CSS rules to fix the general document layout,
*  so if probably isn't the file you're looking for if you just want to make
*  some edits or make something look differently.
*  Changes to the look of the document should generally only be done in InDesign
*  and then ex- and imported into the repository. The changes here are only
*  necessary because they can't be done in InDesign.
*/

.doc-page {
	position: relative;
	display: block;
	overflow: hidden;
}

div[class^="Edit-"],
div[class^="Calc-"] {
	padding: 1px;
	font-family: "Garamond";
	font-size: calc(12px / 0.05);
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
	word-break: break-all;
	color: black;
	pointer-events: all;
	overflow: hidden;
}
div[class^="Edit-"] {
	background: rgba(235, 194, 71, 0.2);
}
div[class^="Edit-"]:hover,
div[class^="Edit-"]:focus {
	box-shadow: 0 0 0 2px rgba(235, 194, 71, 1);
}
div[class^="Edit-"]:focus {
	background: rgba(235, 194, 71, 0.4);
}
div[class^="Calc-"] {
	background: rgba(71, 137, 235, 0.2);
}

/* First line indentations: */
.Edit-Titel::before {
	content: "";
	display: inline-block;
	width: 38px;
}

/* Centering the text in the corresponding text fields: */
/* Eigenschaften: */
.Edit-MU-Mod,
.Edit-MU-Start,
.Edit-MU,
.Edit-KL-Mod,
.Edit-KL-Start,
.Edit-KL,
.Edit-IN-Mod,
.Edit-IN-Start,
.Edit-IN,
.Edit-CH-Mod,
.Edit-CH-Start,
.Edit-CH,
.Edit-FF-Mod,
.Edit-FF-Start,
.Edit-FF,
.Edit-GE-Mod,
.Edit-GE-Start,
.Edit-GE,
.Edit-KO-Mod,
.Edit-KO-Start,
.Edit-KO,
.Edit-KK-Mod,
.Edit-KK-Start,
.Edit-KK,
.Edit-GE-Mod,
.Edit-GE-Start,
.Edit-GE,
/* Basiswerte: */
.Edit-LeP-Mod,
.Calc-LeP-Start,
.Calc-LeP,
.Edit-LeP-Zugekauft,
.Edit-AuP-Mod,
.Calc-AuP-Start,
.Calc-AuP,
.Edit-AuP-Zugekauft,
.Edit-AsP-Mod,
.Calc-AsP-Start,
.Calc-AsP,
.Edit-AsP-Zugekauft,
.Edit-KaP-Mod,
.Calc-KaP-Start,
.Calc-KaP,
.Edit-KaP-Zugekauft,
.Edit-MR-Mod,
.Calc-MR-Start,
.Calc-MR,
.Edit-MR-Zugekauft,
.Edit-INI-Mod,
.Calc-INI-Start,
.Calc-INI,
.Edit-AT-Mod,
.Calc-AT-Start,
.Calc-AT,
.Edit-PA-Mod,
.Calc-PA-Start,
.Calc-PA,
.Edit-FK-Mod,
.Calc-FK-Start,
.Calc-FK,
.Edit-WS,
.Calc-WS-2,
.Calc-WS-3,
/* Abenteuerpunkte */
.Edit-AP-Gesamt,
.Calc-AP-Eingesetzt,
.Edit-AP-Guthaben
{
	display: flex;
	justify-content: center;
	align-items: center;
}
