/*
*  This file is meant to contain CSS rules to fix the general document layout,
*  so if probably isn't the file you're looking for if you just want to make
*  some edits or make something look differently.
*  Changes to the look of the document should generally only be done in InDesign
*  and then ex- and imported into the repository. The changes here are only
*  necessary because they can't be done in InDesign.
*/

.doc-page {
	position: relative;
	display: block;
	overflow: hidden;
}

div[class^="Edit-"],
div[class^="Calc-"] {
	font-family: "Garamond";
	font-size: calc(12px / 0.05);
	font-size: 12px;
	line-height: 1.5em;
	text-align: left;
	word-break: break-all;
	color: black;
	pointer-events: all;
	overflow: hidden;
}
div[class^="Edit-"] {
	background: rgba(235, 194, 71, 0.2);
}
div[class^="Edit-"]:hover,
div[class^="Edit-"]:focus {
	box-shadow: 0 0 0 2px rgba(235, 194, 71, 1);
}
div[class^="Edit-"]:focus {
	background: rgba(235, 194, 71, 0.4);
}
div[class^="Calc-"] {
	background: rgba(71, 137, 235, 0.2);
}
/* Eigenschaften: */
.Edit-Mut-Mod,
.Edit-Mut-Start,
.Edit-Mut-Aktuell,
.Edit-Klugheit-Mod,
.Edit-Klugheit-Start,
.Edit-Klugheit-Aktuell,
.Edit-Intuition-Mod,
.Edit-Intuition-Start,
.Edit-Intuition-Aktuell,
.Edit-Charisma-Mod,
.Edit-Charisma-Start,
.Edit-Charisma-Aktuell,
.Edit-Fingerfertigkeit-Mod,
.Edit-Fingerfertigkeit-Start,
.Edit-Fingerfertigkeit-Aktuell,
.Edit-Gewandheit-Mod,
.Edit-Gewandheit-Start,
.Edit-Gewandheit-Aktuell,
.Edit-Konstitution-Mod,
.Edit-Konstitution-Start,
.Edit-Konstitution-Aktuell,
.Edit-Körperkraft-Mod,
.Edit-Körperkraft-Start,
.Edit-Körperkraft-Aktuell,
.Edit-Geschwindigkeit-Mod,
.Edit-Geschwindigkeit-Start,
.Edit-Geschwindigkeit-Aktuell,
/* Basiswerte: */
.Edit-LeP-Mod,
.Calc-LeP-Start,
.Calc-LeP-Aktuell,
.Edit-LeP-Zugekauft,
.Edit-AuP-Mod,
.Calc-AuP-Start,
.Calc-AuP-Aktuell,
.Edit-AuP-Zugekauft,
.Edit-AsP-Mod,
.Calc-AsP-Start,
.Calc-AsP-Aktuell,
.Edit-AsP-Zugekauft,
.Edit-KaP-Mod,
.Calc-KaP-Start,
.Calc-KaP-Aktuell,
.Edit-KaP-Zugekauft,
.Edit-MR-Mod,
.Calc-MR-Start,
.Calc-MR-Aktuell,
.Edit-MR-Zugekauft,
.Edit-INI-Mod,
.Calc-INI-Start,
.Calc-INI-Aktuell,
.Edit-AT-Mod,
.Calc-AT-Start,
.Calc-AT-Aktuell,
.Edit-PA-Mod,
.Calc-PA-Start,
.Calc-PA-Aktuell,
.Edit-FK-Mod,
.Calc-FK-Start,
.Calc-FK-Aktuell
{
	display: flex;
	justify-content: center;
	align-items: center;
}
