/* ---------- General: ---------- */
:root {
	--text-1: #000000;
	--text-select: #2A221Bcc;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #F0E9D7;
	background-image: url("../assets/background_compressed.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	font-family: "Garamond", Verdana, "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: var(--text-1);
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
/*::-webkit-scrollbar-track {
	background-image: url("../assets/scrollbar_track.png");
	background-repeat: repeat-y;
	background-position: 50% 0%;
	background-size: 50%;
	&:horizontal {
		background-color: red;
		background-image: url("../assets/horizontal_scrollbar_track.png");
	}
}*/
::-webkit-scrollbar-track:vertical {
	background-image: url("../assets/scrollbar_track.png");
	background-repeat: repeat-y;
	background-position: 50% 0%;
	background-size: 50%;
}
::-webkit-scrollbar-track:horizontal {
	//background-color: red;
	background-image: url("../assets/horizontal_scrollbar_track.png");
	background-repeat: repeat-x;
	background-position: 0% 50%;
	background-size: 250%;
}
::-webkit-scrollbar-thumb:vertical {
	background-image: url("../assets/scrollbar_thumb.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-size: 300% 100%;
	&:hover {
		background-position: 50% 50%;
	}
	&:active {
		background-position: 100% 50%;
	}
}
::-webkit-scrollbar-thumb:horizontal {
	//background-color: blue;
	background-image: url("../assets/horizontal_scrollbar_thumb.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 100% 300%;
	//max-width: 300px;
	&:hover {
		background-position: 50% 50%;
	}
	&:active {
		background-position: 50% 100%;
	}
}
::-webkit-scrollbar-corner {
	background: transparent;
}
.d-none {
	display: none !important;
}

/* ---------- jQuery UI Customisation: ---------- */
.ui-widget {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
.ui-selectmenu-menu > .ui-menu {
	background: url("../assets/background_compressed.jpg") 50% 50% no-repeat;
	border-radius: 240px 15px 100px/15px 200px 15px 185px;
	background-size: 200% 200%;
	border: 1px solid rgba(62, 34, 16, 0.1);
	transform: translateY(-1px);
	padding: 10px 5px;
	box-shadow: 10px 19px 17px -13px rgb(0 0 0 / 15%);
	filter: brightness(0.935);
	.ui-menu-item-wrapper {
		padding: 3px 1.5em 3px .9em;
	}
	.ui-state-active {
		background-color: transparent;
		background-image: url("../assets/mso_background.png");
		background-size: 100% 100%;
		border: none;
		margin: 0;
	}
}

/* ---------- Buttons: ---------- */
$btn-font-size: 1.2rem;
$btn-unit-base: $btn-font-size * 0.5;
$btn-border-width: 2px;
$btn-border-radius: 3px;
.btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font: inherit;
	font-weight: 600;
	text-align: center;
	line-height: 1.25;
	color: #2f1d13;
	cursor: pointer;
	overflow: visible;
	padding: ($btn-unit-base / 1.5) ($btn-unit-base * 1.1);
	margin: ($btn-unit-base / 4);
	border-top: 1px solid #5b493c;
	border-left: 1px solid #4f3d30;
	border-right: 1px solid #544133;
	border-bottom: 1px solid #624a38;
	border-radius: #{$btn-border-radius};
	box-shadow: 0px -5px 18px #927f66 inset,
		1px 2px 8px rgb(0 0 0 / 10%);
	background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 47%, rgba(255,255,255,0.05) 53%, rgba(255,255,255,0.1) 100%),
		url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjQiPjwvcmVjdD4KPC9zdmc+"),
		linear-gradient(#c5af93, #927f66);
	background-blend-mode: screen;
	user-select: none;
	transition: all 0.2s ease-in-out;
	&,
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		outline: none;
	}
	&:hover,
	&:focus {
		box-shadow: 0 6px 38px rgba(255, 255, 255, 0.2) inset,
		1px 2px 8px rgb(0 0 0 / 10%);
	}
	&:active {
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset,
			1px 1px 15px rgba(0, 0, 0, 0.4) inset,
			0 -1px 0 rgba(255, 255, 255, 0.4) inset;
		transition: all 0.05s;
	}
	&::before {
		position: absolute;
		content: "";
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		border-radius: #{$btn-border-radius + $btn-border-width / 2};
		left: -#{$btn-border-width};
		top: -#{$btn-border-width};
		right: -#{$btn-border-width};
		bottom: -#{$btn-border-width};
		background: #6e5542;
		z-index: -1;
	}
}
.btn-primary {
	border-top: 1px solid #7b4900;
	border-left: 1px solid #723f00;
	border-right: 1px solid #784300;
	border-bottom: 1px solid #643400;
	box-shadow: 0px -5px 18px #bb6701 inset,
		1px 2px 8px rgb(0 0 0 / 10%);
	background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 47%, rgba(255,255,255,0.05) 53%, rgba(255,255,255,0.1) 100%),
		url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjQiPjwvcmVjdD4KPC9zdmc+"),
		linear-gradient(#ffab39, #bb6701);
	&:active {
		box-shadow: 0 1px 0 rgba(255, 177, 57, 0.8) inset,
			1px 1px 15px rgba(0, 0, 0, 0.4) inset,
			0 -1px 0 rgba(255, 177, 57, 0.6) inset;
	}
	&::before {
		background: #a46100;
	}
}
.btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Arial";
	font-weight: bold;
	padding: 0;
	height: 1.924em;
	width: 1.924em;
	svg {
		height: 1em;
	}
}
/* Button Groups: */
.btn-group {
	position: relative;
	display: inline-flex;
	margin: 0.15rem;
	&::before {
		position: absolute;
		content: "";
		box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
		border-radius: 4px;
		left: -2px;
		top: -2px;
		right: -2px;
		bottom: -2px;
		background: #6e5542;
		z-index: -1;
	}
	.btn {
		margin: 0;
		border-radius: 0;
		border: none;
		&:active {
			box-shadow: 1px 1px 15px rgb(0 0 0 / 40%) inset;
		}
		&::before {
			display: none;
		}
		&:not(:last-child) {
			box-sizing: content-box;
			border-right: 2px solid #6e5542;
		}
	}
	.btn-group-label {
		pointer-events: none;
		user-select: none;
	}
	.btn-minus,
	.btn-plus {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Arial";
		font-weight: bold;
		padding: 0;
		height: 2.05em;
		width: 2.05em;
		svg {
			height: 1em;
		}
	}
	.btn-group-label {
		pointer-events: none;
		user-select: none;
	}
	.btn-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Arial";
		font-weight: bold;
		padding: 0;
		height: 2.05em;
		width: 2.05em;
		svg {
			height: 1em;
		}
		&.btn-icon-big svg {
			height: 1.25em;
		}
	}
	.btn-active {
		box-shadow: 1px 1px 15px rgb(0 0 0 / 40%) inset;
		transition: all 0.05s;
		pointer-events: none;
		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: 5;
			display: block;
			width: 0;
			height: 0;
			top: -5px;
			right: unset;
			bottom: unset;
			left: calc(50% - 4px);
			border: 4px solid #6e5542;
			border-top-color: transparent;
			border-left-color: transparent;
			border-radius: 0;
			background: transparent;
			box-shadow: none;
			pointer-events: none;
			transform: rotate(45deg);
		}
		&::after {
			top: unset;
			bottom: -5px;
			transform: rotate(-135deg);
		}
	}
}
.btn-plus-minus-percent {
	.btn-group-label {
		width: 3.8em;
		padding: 0.4rem 0;
		&::after {
			content: "%";
		}
	}
}

#btns-zoom {
	position: fixed;
	z-index: 11;
	display: flex;
	right: calc(20px + var(--toolbox-width));
	bottom: 6px;
	>.btn-group {
		box-shadow: 3px 6px 17px -4px rgb(0 0 0 / 75%);
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
}

/* ---------- Main Frame: ---------- */
#main-frame {
	--thumbnailbox-width: 200px;
	--toolbox-width: 400px;
	--toolbar-width: 80px;
	display: grid;
	grid-template-columns: var(--thumbnailbox-width) calc(calc(100% - var(--thumbnailbox-width)) - var(--toolbox-width)) var(--toolbox-width);
	&.no-tools {
		--toolbox-width: 6px;
	}
	&.no-tools #toolbar,
	&.no-tools #toolarea-box {
		display: none;
	}
	&.no-thumbnails {
		--thumbnailbox-width: 6px;
	}
	&.no-thumbnails  #thumbnail-innerbox {
		display: none;
	}
	>div {
		height: 100%;
		max-height: 100vh;
		overflow: auto;
	}
}

/* ---------- Thumbnails: ---------- */
#thumbnail-box {
	position: relative;
	grid-column: 1 / 1;
	padding: 12px 0;
	counter-reset: thumbnail-counter;
	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}
	&::before {
		background-image: url("../assets/thumbnailbox_top.png");
		background-position: 50% 0px;
	}
	&::after {
		background-image: url("../assets/thumbnailbox_bottom.png");
		background-position: 50% 100%;
	}
}
#thumbnail-innerbox {
	--width: 90%;
	--vertical-margin: 18px;
	position: absolute;
	top: var(--vertical-margin);
	left: calc(calc(100% - var(--width)) / 2);
	width: var(--width);
	height: calc(100% - calc(2 * var(--vertical-margin)));
	padding: 12px 0;
	overflow-y: auto;
	background-image: url("../assets/thumbnailbox_background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 50% 50%;
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
}
#thumbnail-box a {
	position: relative;
	display: block;
	--height: calc(0.7 * var(--thumbnailbox-width));
	--width: calc(0.70669017 * var(--height));
	width: var(--width);
	height: var(--height);
	background-color: #c0c0c077;
	background-image: url("../assets/thumbnail.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	margin: 0 auto;
	cursor: pointer;
	counter-increment: thumbnail-counter;
	&.thumbnail-rotated {
		width: var(--height);
		height: var(--width);
		background-image: url("../assets/thumbnail_rotated.jpg");
	}
	&:not(:last-child) {
		margin-bottom: 8px;
	}
	&::before,
	&::after {
		position: absolute;
		display: block;
		width: 100%;
		font-family: "Mason";
		font-weight: bold;
		font-size: 150%;
		text-align: center;
		color: #2A221B;
		opacity: 0.8;
		text-shadow: 0 0 12px #EFE9E0,
					0 0 10px #EFE9E0,
					0 0 8px #EFE9E0,
					0 0 6px #EFE9E0,
					0 0 4px #EFE9E0,
					0 0 2px #EFE9E0,
					0 0 1px #EFE9E0;
	}
	&::before {
		content: "Seite";
		bottom: calc(50% - 2px);
	}
	&::after {
		content: counter(thumbnail-counter);
		top: calc(50% - 8px);
		font-size: 200%;
	}
}
#document-box {
	position: relative;
	grid-column: 2 / 2;
	padding: 12px 0;
	>div {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		>section {
			display: inline-block;
		}
	}
}
/*.doc-page:not(.doc-page-rotated) {
	position: relative;
	left: 123.5px;
}*/
body:not(.edit-all-mode) .doc-page div:not([class^="Edit-"]) {
	pointer-events: none;
}

/* ---------- Tools: ---------- */
#tool-box {
	position: relative;
	grid-column: 3 / 3;
	overflow: hidden !important;
}
#toolbar {
	--toolbar-item-height: 72px;
	--toolbar-item-count: 6;
	--circle-box: 60px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	width: var(--toolbar-width);
	transition: width 0.2s ease-out;
}
.toolbar-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: var(--toolbar-item-height);
	text-align: center;
	font-size: 0;
	>* {
		pointer-events: none;
		opacity: 0.95;
	}
}
.toolbar-icon > svg {
	width: 40%;
}
.toolbar-icon path {
	stroke-width: 8px;
	stroke: #2A221B;
	fill: #2A221B;
}
.toolbar-extra {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.55) rotate(80deg);
	path {
		stroke-width: 20px;
	}
}
@for $i from 1 through 20 {
	.toolbar-item.toolbar-active:nth-child(#{$i}) ~ #toolbar-highlight { --counter: #{$i}; }
}
@for $i from 1 through 20 {
	.toolbar-item:nth-child(#{$i}):hover ~ #toolbar-highlight { --counter: #{$i}; }
}
#toolbar-highlight {
	position: absolute;
	z-index: 3;
	top: 50%;
	top: calc(calc(50% + calc(calc(var(--counter) - calc(var(--toolbar-item-count) / 2)) * var(--toolbar-item-height))) - calc(var(--toolbar-item-height) / 2));
	right: calc(calc(100% - calc(var(--toolbar-width) / 2)) - calc(var(--circle-box) / 2));
	width: calc(max-content + var(--circle-box));
	line-height: calc(var(--circle-box) - 2px);
	padding: 4px 0 6px 0;
	text-align: left;
	user-select: none;
	pointer-events: none;
	transform: translateY(-50%);
	transition: top 0.12s ease-out, width 0.2s ease-in-out;
}
#toolbar-highlight::before {
	content: "";
	position: absolute;
	top: -1px;
	bottom: 1px;
	left: 0;
	width: calc(calc(100% - var(--circle-box)) + 12px);
	background-image: url("../assets/tool_highlight.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}
#toolbar-highlight-text {
	position: relative;
	display: block;
	width: max-content;
	z-index: 2;
	color: #2A221B;
	font-family: "Garamond";
	font-size: 20px;
	font-weight: bold;
	padding-left: calc(var(--circle-box) / 2.5);
	padding-right: calc(var(--circle-box) + 20px);
}
#toolbar-highlight::before,
#toolbar-highlight-text {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}
#toolbar:hover #toolbar-highlight::before,
#toolbar:hover #toolbar-highlight-text {
	opacity: 1;
}
#toolbar-highlight-circle {
	--extra-size: 10px;
	position: absolute;
	top: calc(0px - var(--extra-size));
	right: calc(0px - var(--extra-size));
	bottom: calc(0px - var(--extra-size));
	width: calc(var(--circle-box) + calc(2 * var(--extra-size)));
	background-image: url("../assets/tool_circle.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	pointer-events: none;
	transform: rotate(calc(var(--counter) * 20deg));
	transition: transform 0.2s ease-in-out;
}
#toolarea-box {
	position: absolute;
	width: calc(100% - var(--toolbar-width));
	height: 100%;
	padding: 8px 0;
}
.toolarea {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	&:not([style*="opacity: 1;"]) {
		pointer-events: none;
	}
	>h3 {
		width: calc(100% + var(--toolbar-width));
		margin: 10px 0 10px 0;
		font-family: "Garamond";
		font-family: "Mason";
		font-size: 145%;
		text-align: center;
	}
	>h4 {
		margin-bottom: 0.3em;
	}
	h4,
	p {
		padding-left: 12px;
	}
	>hr {
		height: 12px;
		margin: 5px 0 5px 10px;
		background-color: transparent;
		background-image: url(../assets/vertical_divider.png);
		background-repeat: repeat-x;
		background-position: 0 50%;
		background-size: 400%;
	}
}
.toolarea-mso_wrapper {
	display: flex;
	flex-direction: column-reverse;
}
.toolarea-mso {
	width: 97%;
	margin: 0 auto;
	>h4::after {
		content: ":";
	}
}
.toolarea-no_mso {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: 120%;
	padding: 30px 14px;
	background-color: transparent;
	background-image: url("../assets/mso_background.png");
	background-size: 100% 100%;
	&::before {
		content: "Es gibt keine Auswahlmög-\Alichkeiten für diese Seite";
		opacity: 0.5;
		white-space: pre;
	}
}

.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.select-dropdown {
	position: relative;
	background-color: transparent;
	background-image: url("../assets/mso_background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	select + .ui-selectmenu-button {
		font-size: 1rem;
		font-weight: normal;
		width: 100%;
		// padding: 8px 32px 8px 14px;
		padding: 8px 14px 8px 14px;
		border: none;
		background: none !important;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:active,
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}
#toolarea-pageSelection {
	select + .ui-selectmenu-button {
		font-size: 150%;
		font-weight: bold;
		color: var(--text-select);
	}
	.ui-selectmenu-icon {
		transform: translateY(5px) scale(1.15);
	}
	&:not(:hover) {
		background-image: unset;
		select + .ui-selectmenu-button > .ui-selectmenu-icon {
			opacity: 0;
		}
	}
}
.toolarea-page {
	position: absolute;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	&:not([style*="opacity: 1;"]) {
		pointer-events: none;
	}
}

/* ---------- Startup Loader: ---------- */
$startup-loader-height: 50vh;
#startup-loader {
	position: absolute;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #F0E9D7;
	background-image: url("../assets/background_compressed.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
	>* {
		bottom: calc(50% - #{$startup-loader-height / 2});
	}
	.startup-sword {
		position: absolute;
		left: 50%;
		height: #{$startup-loader-height};
		transform: translateX(-50%);
		&.startup-sword-fr {
			bottom: 0;
		}
	}
	.startup-mask {
		--app-loaded: 0.0;
		position: absolute;
		height: calc(var(--app-loaded) * 0.92 * #{$startup-loader-height} + 0.04 * #{$startup-loader-height});
		width: 100%;
		overflow: hidden;
		transition: height 0.5s ease-out;
	}
	&.startup-done {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.4s ease 0.5s;
		>* {
			bottom: -#{$startup-loader-height};
			transition: bottom 0.6s cubic-bezier(.68,-0.6,.52,.79);
		}
	}
}

/* ---------- Toggles: ---------- */
.toggle-left,
.toggle-right {
	--toggle-size: 40px;
	--toggle-width: var(--toggle-size);
	--toggle-height: calc(1.4 * var(--toggle-size));
	position: fixed;
	z-index: 10;
	width: var(--toggle-width);
	height: var(--toggle-height);
	border-radius: var(--toggle-size);
	cursor: pointer;
	background-image: url("../assets/Rauten-Pfeil_rechts_grau.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out 0.5s;
	&.toggle-shown,
	&t.toggle-shown {
		opacity: 1;
		pointer-events: all;
		transition: none;
	}
	&:hover,
	&:hover {
		opacity: 1;
		background-image: url("../assets/Rauten-Pfeil_rechts_rot.png");
		transition: opacity 0.2s ease-in-out;
	}
}
.toggle-left {
	transform: scaleX(-1);
}
#toggle-thumbnails,
#toggle-tools {
	top: calc(50% - calc(var(--toggle-height) / 2));
}
#toggle-thumbnails {
	left: calc(-2px + var(--thumbnailbox-width));
}
#toggle-thumbnails.toggle-left {
	left: calc(-12px + var(--thumbnailbox-width));
}
#toggle-tools {
	right: calc(10px + var(--toolbox-width));
}

/* ---------- Document related stuff: ---------- */
body.font-mode-mason {
	div[class^="Edit-"],
	div[class^="Calc-"] {
		font-family: "Mason";
	}
}

/* ---------- Dark Mode: ---------- */
body.dark-mode {
	--text-1: #FFFFFF;
	--text-select: #ccbcaecc;
	color: #FFFFFF;
	#main-frame::before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		backdrop-filter: brightness(0.3) contrast(1.5);
	}
	.toolbar-icon path {
		stroke-width: 8px;
		stroke: #f7d5b7;
		fill: #f7d5b7;
	}
	.ui-selectmenu-text {
		color: rgba(255, 255, 255, 0.9);
	}
	.ui-menu-item {
		color: rgba(0, 0, 0, 0.9);
	}
}
